
<div *ngIf="teacher | async as teacher">
    <h3 style="color: blue;">name:</h3>
    <input class="form-control" type="text"
    [(ngModel)]="teacher.name" />
    <h4>{{ teacher.name }}</h4>
</div>
<div *ngIf="teacher | async as teacher">
    <h3 style="color: blue;">city:</h3>
    <input class="form-control" type="text"
    [(ngModel)]="teacher.city" />
    
    <h4>{{ teacher.city }}</h4> 
</div>
<div *ngIf="teacher | async as teacher">
    <h3 style="color: blue;">id:</h3>
    <input class="form-control" type="text"
    [(ngModel)]="teacher.id" />
    
    <h4>{{ teacher.id }}</h4> 
</div>
<div *ngIf="teacher | async as teacher">
    <h3 style="color: blue;">age:</h3>
    <input class="form-control" type="text"
    [(ngModel)]="teacher.age" />
    <h4>{{ teacher.age }}</h4> 
</div>
<div *ngIf="teacher | async as teacher">
    <h3 style="color: blue;">hoursWork:</h3>
    <input class="form-control" type="text"
    [(ngModel)]="teacher.image" />
    <h4>{{ teacher.hoursWork }}</h4> 
</div>
<div *ngIf="teacher | async as teacher">
    <h3 style="color: blue;">vetek:</h3>
    <input class="form-control" type="text"
    [(ngModel)]="teacher.vetek" />
    <h4>{{ teacher.vetek }}</h4> 
</div>
<div *ngIf="teacher | async as teacher">
    <h3 style="color: blue;">vetek:</h3>
    <input class="form-control" type="text"
    [(ngModel)]="teacher.vetek" />
    <h4>{{ teacher.vetek }}</h4> 
</div>