 <table class="table table-hover table-striped  ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">City</th>
            <th scope="col">Image</th>
            <th scope="col">name Wrok</th>
            <th scope="col">Number of hours per month</th>
            <th scope="col">price per hour</th>
            <th scope="col">total price</th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'down': employees.price() < 4000,'up': employees.price() >= 4000 }" *ngFor="let employees of employeesArr">
            <td>{{ employees.id }}</td>
            <td>{{ employees.name }}</td>
            <td>{{ employees.age }}</td>
            <td>{{ employees.city }}</td>
            <td><img src="{{ employees.image }}" style="width: 150px;"></td>
            <td>{{employees.work}}</td>
            <td>{{employees.monthPayment}}</td>
            <td>{{employees.hourPayment}}</td>
            <td>{{employees.monthPayment*employees.hourPayment}}</td>
            <Button class="btn btn-warning" [routerLink]="['/employees',employees.id]" style="width: 100%; height: 100%;">Edit</Button>

        </tr>
    </tbody>
</table>
