.body{
    background-image: url("https://i.pinimg.com/564x/91/b5/17/91b5174cf4f311f7c4a9e2086980a387.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    
}