
<div class="body">
    <div class="text-center text-light">
    <h1>Welcome to  Xavier's School for Gifted Youngsters</h1>
    </div>
    <div class="row">
        <div class=col-4></div>

        <div class=" col-4 text-center text-light" style="width:500px;">
        <h5 >The Xavier's School for Gifted Youngsters is a special institute founded and led by
            Professor Charles Xavier to train young mutants in controlling their powers and help foster a friendly
            human-mutant relationship.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center" >
            <button class="btn btn-primary"  routerLink="/teachers">Teachers</button>
        </div>
        <div class="col-4 text-center" >
            <button class="btn btn-primary"  routerLink="/pupils">Pupils</button>
        </div>
        <div class="col-4 text-center" >
            <button class="btn btn-primary" routerLink="/employees">employees</button>
        </div>
    </div>
    <div>
        <footer>
            <h3 class="text-info bg-dark text-center" >	The site was built by shmuel asherov All rights reserved 2021</h3>
        </footer>
    </div>
   
</div>



